@import "@/assets/styles/variables";

.OMR_sheet {
  --question-height: 4rem;
  --extra-padding: 0.8rem;
  --font-option: 1.3rem;
  --font-question: 1.2rem;
  --border-width: 4rem;
  --padding-omr: 10rem;
  --size-option: 2.8rem;
  --mar: 2rem;

  -webkit-print-color-adjust: exact !important; /*Chrome, Safari */
  color-adjust: exact !important; /*Firefox*/

  width: max-content;
  margin: 0 auto;
  padding-top: 2rem;
  font-weight: 500;
  padding-left: 2rem;
  padding-right: 2rem;
  overflow-x: auto;

  .scanner_container {
    display: flex;
    padding: 3rem 0;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 100%;

    .border {
      width: var(--border-width);
      background-image: repeating-linear-gradient(
        var(--omr-color),
        var(--omr-color) 10px,
        white 10px,
        white 20px
      );
      margin-right: 5rem;

      &.right {
        margin-left: 5rem;
        margin-right: 0;
      }
    }

    .marker {
      position: absolute;
      border: 0.5rem solid var(--omr-color);
      height: 4rem;
      width: 4rem;
      border-radius: 50%;

      &.tl {
        top: 0;
        left: var(--border-width);
        transform: translateX(2rem);
      }

      &.tr {
        top: 0;
        right: var(--border-width);
        transform: translateX(-2rem);
      }

      &.bl {
        bottom: 0rem;
        left: var(--border-width);
        transform: translateX(2rem);
      }

      &.br {
        bottom: 0rem;
        right: var(--border-width);
        transform: translateX(-2rem);
      }

      &::after {
        content: "";
        position: absolute;
        border: 0.5rem solid var(--omr-color);
        height: 2.5rem;
        width: 2.5rem;
        border-radius: 50%;
        margin: 0.25rem;
      }

      &::before {
        content: "";
        position: absolute;
        height: 1rem;
        width: 1rem;
        background: var(--omr-color);
        border-radius: 50%;
        margin: 0.99rem;
      }
    }
  }

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    border: 2px solid var(--omr-color);
    margin-left: var(--padding-omr);
    margin-right: var(--padding-omr);

    .strong_txt {
      font-size: 1.6rem;
      font-weight: 600;
      color: var(--omr-color);
    }
  }

  .user_info {
    display: flex;
    margin-top: var(--mar);
    gap: 2rem;

    --pd-container: 0rem;
    --size: 2.4rem;
    --gap: 0.5rem;
    --mb: 0.3rem;

    .form_item {
      font-size: 1.4rem;
      display: flex;
      flex-direction: column;
      gap: 1.4rem;
      width: 100%;

      .label {
        min-width: max-content;
      }

      .input {
        border: 2px solid var(--omr-color);
        width: 100%;
        height: 3.4rem;
      }

      .value {
        display: flex;
        width: 100%;
        height: 3.4rem;

        .box {
          border-top: 2px solid var(--omr-color);
          border-bottom: 2px solid var(--omr-color);
          border-left: 2px solid var(--omr-color);
          border-right: none;
          width: 4rem;

          &:last-child {
            border-right: 2px solid var(--omr-color);
          }
        }
      }
    }

    .group_container {
      display: flex;
      gap: 2rem;
      min-width: 100%;

      .section_container {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        border: 2px solid var(--omr-color);

        .title {
          display: flex;
          justify-content: center;
          align-items: center;
          position: relative;
          font-size: 1.4rem;
          font-weight: 500;
          width: 100%;
          border-bottom: 2px solid var(--omr-color);
          margin-bottom: var(--mb);
          padding: 0 0.4rem;

          &::after {
            content: "";
            position: absolute;
            width: 100%;
            height: 100%;
            z-index: -1;
            background: var(--omr-color);
            opacity: 0.3;
          }
        }

        .value {
          display: flex;
          padding: 0.6rem var(--pd-container);
          gap: 0;

          .box {
            border-top: 2px solid var(--omr-color);
            border-bottom: 2px solid var(--omr-color);
            border-left: 2px solid var(--omr-color);
            border-right: none;
            width: calc(var(--size) + var(--gap));
            height: 2rem;

            &:last-child {
              border-right: 2px solid var(--omr-color);
            }
          }
        }

        .letters_container {
          display: flex;
          gap: var(--gap);
          padding: 0.4rem var(--pd-container);
          padding-bottom: 1rem;

          .letters {
            display: flex;
            flex-direction: column;
            gap: 0.6rem;

            .letter {
              height: var(--size);
              width: var(--size);
              display: grid;
              place-items: center;
              color: var(--omr-color);
              border: 2px solid var(--omr-color);
              border-radius: 50%;
            }
          }
        }
      }
    }

    .info_container {
      border: 2px solid var(--omr-color);
      font-size: 1.1rem;
      display: flex;
      min-width: 27rem;
      flex-direction: column;
      gap: 0.5rem;

      .form_item {
        display: flex;
        gap: 0.2rem;
        padding: 1rem 0.3rem;

        .label {
          font-weight: 500;
          min-width: max-content;
        }

        .input {
          width: 100%;
          border-bottom: 2px dotted var(--omr-color);
          margin-bottom: 0.4rem;
        }
      }

      .instructions_container {
        padding: 1rem 0.5rem;

        ol {
          padding-left: 1.4rem;
        }

        .title {
          font-size: 1.5rem;
          font-weight: 600;
          margin-bottom: 0.5rem;
        }

        .instructions {
          font-size: 1.2rem;
          font-weight: 500;
        }
      }
    }
  }

  .section_container_horizontal {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    border: 2px solid var(--omr-color);
    margin-bottom: 4rem;

    --pd-container: 0rem;
    --size: 2.4rem;
    --gap: 0.5rem;
    --mb: 0.3rem;

    .title {
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      font-size: 1.4rem;
      font-weight: 500;
      width: 100%;
      border-bottom: 2px solid var(--omr-color);
      margin-bottom: var(--mb);
      padding: 0 0.4rem;

      &::after {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: -1;
        background: var(--omr-color);
        opacity: 0.3;
      }
    }

    .values_container {
      display: flex;
      gap: 2rem;
    }

    .value {
      display: flex;
      flex-direction: column;
      padding: 0.6rem var(--pd-container);
      gap: 0;

      .box {
        border-top: 2px solid var(--omr-color);
        border-left: 2px solid var(--omr-color);
        border-right: 2px solid var(--omr-color);
        border-bottom: none;
        height: calc(var(--size) + var(--gap) * 0.94);
        width: 4rem;

        &:last-child {
          border-bottom: 2px solid var(--omr-color);
        }
      }
    }

    .letters_container {
      display: flex;
      flex-direction: column;
      gap: var(--gap);
      padding: 0.4rem var(--pd-container);
      padding-bottom: 1rem;

      .letters {
        display: flex;
        gap: 0.6rem;

        .letter {
          height: var(--size);
          width: var(--size);
          display: grid;
          place-items: center;
          color: var(--omr-color);
          border: 2px solid var(--omr-color);
          border-radius: 50%;

          &.active {
            background: var(--omr-color);
            color: $neutral-000;
          }
        }
      }
    }
  }

  .test_container {
    display: flex;
    justify-content: space-between;
    gap: 3rem;
    margin-bottom: 4rem;
    width: 100%;
    margin-top: 4rem;

    .section {
      border: 2px solid var(--omr-color);

      .question {
        display: flex;
        font-weight: 500;

        &.border_bottom {
          border-bottom: 2px solid var(--omr-color);
        }

        .question_no {
          display: grid;
          place-items: center;
          width: 2.5rem;
          height: 2rem;
          border-right: 2px solid var(--omr-color);
          height: var(--question-height);
          font-size: var(--font-question);

          &.pad_bottom {
            height: calc(var(--question-height) + var(--extra-padding));
            padding-bottom: var(--extra-padding);
          }

          &.pad_top {
            height: calc(var(--question-height) + var(--extra-padding));
            padding-top: var(--extra-padding);
          }
        }

        .options {
          display: flex;
          align-items: center;
          padding: 0 1rem;
          gap: 1rem;
          height: var(--question-height);
          color: var(--omr-color);

          &.pad_bottom {
            height: calc(var(--question-height) + var(--extra-padding));
            padding-bottom: var(--extra-padding);
          }

          &.pad_top {
            height: calc(var(--question-height) + var(--extra-padding));
            padding-top: var(--extra-padding);
          }

          .option {
            width: var(--size-option);
            height: var(--size-option);
            border: 2px solid var(--omr-color);
            font-size: var(--font-option);
            display: grid;
            place-items: center;
            border-radius: 50%;
            cursor: pointer;
          }
        }
      }
    }
  }

  .footer {
    display: flex;
    gap: 4rem;
    margin-left: var(--padding-omr);
    margin-right: var(--padding-omr);

    .signature {
      min-width: 30rem;
      flex: 1;
      font-size: 1.4rem;
      border: 2px solid var(--omr-color);
      display: flex;

      .label {
        padding: 1.6rem 1.4rem;
        min-width: max-content;
        font-weight: 500;
        color: var(--omr-color);
      }

      .input {
        width: 100%;
        border-left: 2px solid var(--omr-color);
      }
    }
  }
}
